button {
    background-color: transparent;
    border: none;
}

.app {
    text-align: center;
}

.counter {
    display: grid;
    justify-content: center;
    align-content: center;
    place-items: center;
    column-gap: 0.25rem;
    grid-template-columns: 60px 60px 50px;
}

.minusSign, .plusSign {
    cursor: auto;
}

.minusSign:hover, .plusSign:hover {
    cursor: pointer;
}

.counterResult {
    font-size: 40px;
}
.counterResult.positiveCounter {
    background-color: greenyellow;
}
.counterResult.negativeCounter {
    background-color: orangered;
}

ul {
    list-style-type: none;
    font-weight: bold;
    font-size: 20px;
}

.library {
    font-family: Roboto, sans-serif;
}

ul#booklist {
    width: 50%;
    float: left;
    font-family: Roboto, sans-serif;
}
ul#booklist li  {
    vertical-align: center;
    display: block;
}
ul#booklist li a {
    display: block;
    height: 70px;
    color: black;
    text-align: left;
    text-decoration: none;
    margin: 1em;
    border: 3px ridge lightskyblue;
}
ul#booklist li a:hover {
    color: white;
    background-color: lightskyblue;
}
ul#booklist li img{
    float: left;
    margin: .3em;
}
ul#booklist li span {
    display: block;
}

li.htmx-swapping {
    opacity: 0;
    transition: opacity 2s ease-out;
}

#book-details {
    width: 45%;
    float: right;

    border: 2px ridge lightyellow;
}
#book-details img {
    border-width: 3px;
    border-color: lightblue;
    border-style: inset;
}
