<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:hx="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <link th:href="@{/main.css}" rel="stylesheet"/>
</head>
<body>
<div class="app library">
    <h1>Library</h1>
    <ul id="booklist"
        th:fragment="booklist"
        hx-trigger="updatedBook from:body"
        hx-swap="outerHTML"
        hx-get="/books">
        <li th:each="book : ${books}">
            <a th:href="@{/books/{isbn}(isbn=${book.isbn})}"
               hx-boost="true"
               hx-swap="innerHTML"
               hx-target="#book-details-placeholder">
                <img th:src="${book.coverURLSmall}"
                     th:alt="${book.title}"/>
                <span th:text="${book.title}">Mein Beispielbuch</span>
            </a>
            <button th:fragment="edit-button"
                    hx:get="@{/books/{isbn}/edit(isbn=${book.isbn})}"
                    hx-target="this"
                    hx-swap="outerHTML">bearbeiten
            </button>
        </li>
    </ul>
    <div id="book-details-placeholder">
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>

</html>
