<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <link th:href="@{/main.css}" rel="stylesheet"/>
</head>
<body>
<div class="app">

    <h1>Form Sample</h1>
    <div class="form">
        <div th:insert="fragments :: form" th:remove="tag"/>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
<script type="text/javascript">
    document.addEventListener("htmx:responseError", (details) => {console.log(details)})


</script>


</html>