<div th:fragment="form" class="form" th:remove="tag">

    <form hx-post="/form/saveForm" hx-swap="innerHTML" hx-target="#formInput">
        <div th:insert="~{formFragments :: formInput}" />
        <button type="submit">Submit</button>
        <button hx-post="/form/throwError">Throw Error</button>
    </form>
</div>


<div th:fragment="formInput" class="form" id="formInput">
    <div th:text="${form.validating}"></div>
    <input id="title" name="title" type="text"
           hx-post="/form/validateForm"
           th:value="${form.title}"
           hx-trigger="keyup"
           hx-sync="closest form:drop"
           hx-swap="innerHTML"
           hx-target="#formInput"
    >
</div>

